
<div class="home-container">
  <h1>Clínica Aurix</h1>
  <h2>Bienvenido a la página principal de Aurix, donde puedes gestionar tus citas médicas de manera eficiente y sencilla</h2>
  
  <div class="button-container">
    <button (click)="goToLogin()">Iniciar sesión</button>
    <button (click)="goToRegister()">Registrarse</button>
  </div>
  
  <p>Todos los derechos reservados. Digitales Clínicas Aurix. 2025, Clínica Aurix</p>
</div>

<div class="home-image"></div>

<app-help-chat></app-help-chat>