<p>register-physician works!</p>
<div class="container">
  <h2>Registrar Médico</h2>

  <form (submit)="registerPhysician(); $event.preventDefault()">
    <div>
      <label>Nombre:</label>
      <input type="text" [(ngModel)]="name" name="name" required>
    </div>

    <div>
      <label>Apellido Paterno:</label>
      <input type="text" [(ngModel)]="paternalLastName" name="paternalLastName" required>
    </div>

    <div>
      <label>Apellido Materno:</label>
      <input type="text" [(ngModel)]="maternalLastName" name="maternalLastName" required>
    </div>

    <div>
      <label>Email:</label>
      <input type="email" [(ngModel)]="email" name="email" required>
    </div>

    <div>
      <label>Contraseña:</label>
      <input type="password" [(ngModel)]="password" name="password" required>
    </div>

    <div>
      <label>Especialidad:</label>
      <input type="text" [(ngModel)]="specialty" name="specialty" required>
    </div>

    <button type="submit">Registrar Médico</button>
  </form>

  <p *ngIf="successMessage">{{ successMessage }}</p>
</div>

